<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Controllers -->
    <context:component-scan base-package="com.okanetransfer.controller"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- WebConfig + OpenApiConfig dans MVC context -->
    <context:component-scan base-package="com.okanetransfer.config"
                            use-default-filters="false">
        <context:include-filter type="assignable"
                                expression="com.okanetransfer.config.WebConfig"/>
        <context:include-filter type="assignable"
                                expression="com.okanetransfer.config.OpenApiConfig"/>
    </context:component-scan>

    <!-- SpringDoc dans MVC context -->
    <bean class="org.springdoc.core.configuration.SpringDocConfiguration"/>
    <bean class="org.springdoc.core.properties.SpringDocConfigProperties"/>
    <bean class="org.springdoc.core.properties.SwaggerUiOAuthProperties"/>
    <bean class="org.springdoc.webmvc.core.configuration.SpringDocWebMvcConfiguration"/>

</beans>